{% extends "review.html" %}

{% block floors_content %}
    <h2 id="building-{{ selected_building }}" class="building-header header">
        Building {{ selected_building }}</h2>
    <p class="activating element">This building has {{ buildings[selected_building|string].total }} phones.</p>

    {% for floor_name, floor_value in building_floors.items() %}
        <h3 class="header">Floor {{ floor_name }}</h3>

        <table class="ui striped table">
            <thead>
            <tr>
                <th>Room</th>
                <th class="right aligned">Reviewed</th>
                <th class="right aligned">Completed</th>
            </tr>
            </thead>
            <tbody>
            {% for room_name, room_value in floor_value['rooms'].items() %}
                <tr class="room-row {% if floor_name and floor_name == selected_floor and selected_room and selected_room == room_name %}active{% endif %}">
                    <td>
                        <a class="room-link"
                           id="{{ room_name|urlencode }}"
                           href="{{ url_for("migrations.review_room", building_name=selected_building|urlencode, floor_name=floor_name,room_name=room_name) }}">
                            {{ selected_building }}-{{ floor_name }}-{{ room_name }}
                        </a>
                    </td>
                    <td class="right aligned">
                        <div class="ui {% if room_value['processed'] == room_value['total'] %} green {% endif %} label">
                            {{ room_value['processed'] }}/{{ room_value['total'] }}
                        </div>
                    </td>
                    <td class="right aligned">
                        <div class="ui {% if room_value['completed'] == room_value['total'] %} green {% endif %} label">
                            {{ room_value['completed'] }}/{{ room_value['total'] }}
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block extra_javascripts %}

{% endblock %}