{% extends "_floors.html" %}

{% block script %}

{% endblock %}

{% block room_content %}
    <h2 class="ui header">
        <div class="content">
            Room {{ selected_building }}-{{ selected_floor }}-{{ selected_room }}
            <div class="sub header">
                {% if room_purpose %}
                    {{ room_purpose_desc }} ({{ room_purpose }})
                {% endif %}
            </div>
        </div>
    </h2>
{#    <p>This room has {{ selected_room.phones|length }} phone(s).</p>#}

    <div id="forms-container">
    <div class="ui active centered inline loader"></div>

{% endblock %}

{% block extra_javascripts %}
    {#
    Here we load all the React components, using babel for compiling
    #}
{#    {% if DEBUG == True %}#}
{#        {% set react_lib_url = "https://unpkg.com/react@16/umd/react.development.js" %}#}
{#        {% set react_dom_lib_url = "https://unpkg.com/react-dom@16/umd/react-dom.development.js" %}#}
{#    {% else %}#}
{#        {% set react_lib_url = "https://unpkg.com/react@16/umd/react.production.min.js" %}#}
{#        {% set react_dom_lib_url = "https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" %}#}
{#    {% endif %}#}

{#    <script crossorigin src="{{ react_lib_url }}"></script>#}
{#    <script crossorigin src="{{ react_dom_lib_url }}"></script>#}
{#    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>#}

    <script>
        window.props = {{props|tojson}};
        window.react_mount = document.getElementById('forms-container');
    </script>

    <script src="{{ url_for('static', filename='js/reviews.js') }}"></script>

{% endblock %}