{# ALL #}
{% macro render_office_toolbar_title() %}
    Phone Database Cleaning Tool (inside offices)
{% endmacro %}

{% macro render_outside_toolbar_title() %}
    Phone Database Cleaning Tool (outside offices)
{% endmacro %}

{% macro render_office_toolbar_button() %}
    Home
{% endmacro %}

{% macro render_outside_toolbar_button() %}
    Home
{% endmacro %}


{# HOME #}


{% macro render_office_title() %}
    Phone Database Cleaning Tool (inside offices)
    <div class="sub header">
        This interface is meant for <b>Departmental Phone Responsibles (DPR)</b> and their delegates. It lists all the
        phones
        which have <b>no responsible person</b> and are located <b>inside offices</b> managed by the department of the
        DPR. It also allows to take various
        actions on these phones in order to cleanup the phone database. We ask you please to complete the review by the
        deadline
        shown below. More context information can be found on
        <a target="_blank"
           href="http://phone-migration.web.cern.ch/phone-migration/cleanup">this
            page</a>.
    </div>
{% endmacro %}

{% macro render_outside_title() %}
    Phone Database Cleaning Tool (outside offices)
    <div class="sub header">
        This interface is meant for <b>TSOs, Location responsibles</b> and their delegates. It lists all the phones
        which are in
        locations managed by the TSO or location responsible, are <b>outside of offices</b> and have <b>no responsible
        person</b>. It also
        allows to take various actions on these phones. We ask you please to complete the review by the deadline
        shown below. More context information can be found on
        <a target="_blank"
           href="http://phone-migration.web.cern.ch/phone-migration/cleanup/">this
            page</a>.
    </div>
{% endmacro %}

{% macro render_index_office_sidebar() %}
    <h3 class="ui header"><i class="info icon"></i> Help</h3>
    <p>
        This page shows you how many phone numbers are currently assigned to you, the percentage of these numbers that
        have
        already been reviewed, and the number of days remaining before the completion of this review. It also indicates
        your role, and allows you to
        delegate this role to someone else (in the context of this application).<br><br>
        Please click on "Review phones" in order to start the process.
    </p>
{% endmacro %}

{% macro render_index_outside_sidebar() %}
    <h3 class="ui header"><i class="info icon"></i> Help</h3>
    <p>
        This page shows you how many phone numbers are currently assigned to you, the percentage of these numbers that
        have
        already been reviewed, and the number of days remaining before the completion of this review. It also indicates
        your role, and allows you to
        delegate this role to someone else (in the context of this application).<br><br>
        Please click on "Review phones" in order to start the process.
    </p>
{% endmacro %}


{# REVIEW #}


{% macro render_review_office_title() %}
    Phone Review
    <div class="sub header">
        This page lists all the analogue phones that you need to review and for each of them lets you indicate whether
        the phone really exists, if it should be kept, and under which form (physical phone or phone
        application).<br><br>
        Please start by selecting a building and a room.
    </div>
{% endmacro %}

{% macro render_review_outside_title() %}
    Phone Review
    <div class="sub header">
        This page lists all the analogue phones that you need to review and for each of them lets you indicate whether
        the phone really exists, if it should be kept, and under which form (physical phone or phone
        application).<br><br>
        Please start by selecting a building and a room.
    </div>
{% endmacro %}


{# DELEGATE #}


{% macro render_office_delegate_title() %}
    Delegate your role to someone else
{% endmacro %}

{% macro render_outside_delegate_title() %}
    Delegate your role to someone else
{% endmacro %}

{% macro render_delegate_office_sidebar() %}
    <h3 class="ui header"><i class="info icon"></i> Help</h3>
    <p>Select here to whom you would like to delegate your role to. <b>A person to whom you delegate your role will have
        the same
        rights as you to review phones in this specific organic unit.</b> Start typing the name of the person or e-group
        and select from
        the auto-complete drop down list. Only one person or egroup can be selected here. Validate your choice with the
        "Set Delegate"
        button. Please note that no email will be sent to the delegate, if needed you should take care of their
        notification.</p>
{% endmacro %}

{% macro render_delegate_outside_sidebar() %}
    <h3 class="ui header"><i class="info icon"></i> Help</h3>
    <p>Select here to whom you would like to delegate your role to. <b>A person to whom you delegate your role will have
        the same
        rights as you to review phones in this specific building.</b> Start typing the name of the person or e-group and
        select from
        the auto-complete drop down list. Only one person or egroup can be selected here. Validate your choice with the
        "Set Delegate"
        button. Please note that no email will be sent to the delegate, if needed you should take care of their
        notification.</p>
{% endmacro %}


{# HELP MODAL #}


{% macro render_office_help_modal() %}
    <div class="header">
        Phone Database Cleaning help
    </div>
    <div class="scrolling image content">
        <div class="ui medium image">
            <i class="info icon"></i>
        </div>
        <div class="description">
            <div class="ui header">Home Page</div>
            <div id="lipsum">
                <p>
                    This page shows you how many phone numbers are currently assigned to you, the percentage of these
                    numbers that have already been reviewed, and the number of days remaining before the completion of
                    this review.
                    It also indicates your role, and allows you to delegate this role to someone else. click on "Review
                    Phones" to
                    start the review process and on "Delegate" to delegate your role to someone else.
                    <br><br>
                    On all pages, the "reviewed" status indicates that a decision was entered and validated. The
                    "completed" status indicates that
                    an action has been taken following the decision: it can be that the phone number was deleted (this
                    is done overnight after the
                    decision is entered), or migrated (this will be done only when the new phone service is ready,
                    around Q3 2019). In any case a
                    decision can be changed as long as the status is not completed and the deadline is not passed.
                </p>
            </div>
            <div class="ui header">Review Page</div>
            <div id="lipsum">
                <p>
                    Navigate to the phone number you want to review by selecting a building (left column) and a location
                    (central column).
                    Then for each phone number select
                <ul>
                    <li>If a physical phone is present or not at this location.</li>
                    <ul>
                        <li>If it does not exist, we will remove the number from our database, which will disactivate it
                            overnight
                        </li>
                        <li>If it exists, whether you want to keep it or not</li>
                        <ul>
                            <li>If you want to keep the phone number, the physical phone will anyway need to be
                                replaced,
                                so
                                you will have to indicate:
                            </li>
                            <ul>
                                <li>Whether it is a personal phone or a shared phone</li>
                                <li>If it will be used with a phone application or with a new physical IP phone.
                                    <ul>
                                        <li>In case it is used with a physical IP phone, whether an IP socket is
                                            available near the phone.
                                            The IP socket can be shared with another device and must be no farther than
                                            5 meters away from the phone.
                                        </li>
                                    </ul>
                                </li>
                                <li>And who will be the owner of the phone</li>
                            </ul>
                        </ul>
                    </ul>

                    <li>Then validate your choice by pressing "Review". Once validated, it is still possible to change
                        your choice for
                        this phone number until the status turns to "completed". <a
                                href="mailto:phone-migration-support@cern.ch">Contact us</a>
                        directly if you need to reverse a "completed" decision.
                    </li>

                </ul>
                Please note that we recommend in general the usage of phone applications which often provide a better
                and more flexible
                service than a physical phone. If you have a doubt about a
                <a href="http://phone-migration.web.cern.ch/phone-migration/usecases/">specific use case</a>, don't hesitate to
                <a href="mailto:phone-migration-support@cern.ch">contact us</a>. In any case, if you decide to install a
                new IP
                phone, then all costs (purchase of the phone itself, installation of network and power sockets) will be
                borne by its owner.<br><br>
                To help you with the decision of whether a phone is useful or not, the interface displays next to each
                phone number, the number
                of times it was used in the past 12 months (to pass or receive a call).<br><br>
                You will find other useful information on <a
                    href="http://phone-migration.web.cern.ch/phone-migration/cleanup">this page</a>.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_outside_help_modal() %}
    <div class="header">
        Phone Migration help
    </div>
    <div class="scrolling image content">
        <div class="ui medium image">
            <i class="info icon"></i>
        </div>
        <div class="description">
            <div class="ui header">Home Page</div>
            <div id="lipsum">
                <p>
                    This page shows you how many phone numbers are currently assigned to you, the percentage of these
                    numbers that have already been reviewed, and the number of days remaining before the completion of
                    this review.
                    It also indicates your role, and allows you to delegate this role to someone else. click on "Review
                    Phones" to
                    start the review process and on "Delegate" to delegate your role to someone else.
                    <br><br>
                    On all pages, the "reviewed" status indicates that a decision was entered and validated. The
                    "completed" status indicates that
                    an action has been taken following the decision: it can be that the phone number was deleted (this
                    is done overnight after the
                    decision is entered), or migrated (this will be done only when the new phone service is ready,
                    around Q3 2019). In any case a
                    decision can be changed as long as the status is not completed and the deadline is not passed.
                </p>
            </div>
            <div class="ui header">Review Page</div>
            <div id="lipsum">
                <p>
                    Navigate to the phone number you want to review by selecting a building (left column) and a location
                    (central column).
                    Then for each phone number select
                <ul>
                    <li>If a physical phone is present or not at this location.</li>
                    <ul>
                        <li>If it does not exist, we will remove the number from our database, which will disactivate it
                            overnight
                        </li>
                        <li>If it exists, whether you want to keep it or not</li>
                        <ul>
                            <li>If you want to keep the phone number, the physical phone will anyway need to be
                                replaced,
                                so
                                you will have to indicate:
                            </li>
                            <ul>
                                <li>Whether it is a personal phone or a shared phone</li>
                                <li>If it will be used with a phone application or with a new physical IP phone
                                    <ul>
                                        <li>In case it is used with a physical IP phone, whether an IP socket is
                                            available near the phone.
                                            The IP socket can be shared with another device and must be no further than
                                            5 meters away from the phone.
                                        </li>
                                    </ul>
                                </li>
                                <li>And who will be the owner of the phone</li>
                            </ul>
                        </ul>
                    </ul>

                    <li>Then validate your choice by pressing "Review". Once validated, it is still possible to change
                        your choice for
                        this phone number until the status turns to "completed". <a
                                href="mailto:phone-migration-support@cern.ch">Contact us</a>
                        directly if you need to reverse a "completed" decision.
                    </li>

                </ul>
                Please note that we recommend in general the usage of phone applications which often provide a better
                and more flexible
                service than a physical phone. If you have a doubt about a
                <a href="http://phone-migration.web.cern.ch/phone-migration/usecases/">specific use case</a>, don't hesitate to
                <a href="mailto:phone-migration-support@cern.ch">contact us</a>. In any case, if you decide to install a
                new IP
                phone, then all costs (purchase of the phone itself, installation of network and power sockets) will be
                borne by its owner.<br><br>
                To help you with the decision of whether a phone is useful or not, the interface displays next to each
                phone number, the number
                of times it was used in the past 12 months (to pass or receive a call).<br><br>
                You will find other useful information on <a
                    href="http://phone-migration.web.cern.ch/phone-migration/cleanup">this page</a>.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}
