{% from "constants.html" import render_office_help_modal, render_outside_help_modal %}

{% macro render_outside_modal() %}
    Phone Removal
    <div class="sub header">Fixed phones removal tool</div>
{% endmacro %}

<div class="ui longer modal scrollable">

    {% if OFFICE_MODE %}
        {{ render_office_help_modal() }}
    {% else %}
        {{ render_outside_help_modal() }}
    {% endif %}

    <div class="actions">
        <div class="ui primary approve button">
            Close
            <i class="right chevron icon"></i>
        </div>
    </div>
</div>