{% extends "base-content-sidebar.html" %}
{% from "constants.html" import render_office_toolbar_title, render_outside_toolbar_title,
 render_office_title, render_outside_title,
  render_index_office_sidebar, render_index_outside_sidebar %}

{% block title %}
    {% if OFFICE_MODE %}
        {{ render_office_toolbar_title() }}
    {% else %}
        {{ render_outside_toolbar_title() }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="ui header">
        <div class="content">
            {% if OFFICE_MODE %}
                {{ render_office_title() }}
            {% else %}
                {{ render_outside_title() }}
            {% endif %}
        </div>
    </h1>
{% endblock %}

{% block content %}

    <div class="ui stackable three column grid">
        <div class="column">
            <div class="ui center aligned segment">
                <div class="ui large statistic">
                    <div class="value">
                        <i class="clock icon"></i> {{ days }}
                    </div>
                    <div class="label">
                        days until deadline<br/>
                        {{ deadline }}
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui center aligned segment">
                <div class="ui large statistic">
                    <div class="value">
                        {{ stats["percent_processed"] }} %
                    </div>
                    <div class="label">
                        reviewed
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui center aligned segment">
                <div class="ui large statistic">
                    <div class="value">
                        {{ stats["percent_completed"] }} %
                    </div>
                    <div class="label">
                        completed
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable three column grid">
        <div class="column">
            <div class="ui basic center aligned segment">
                <div class="ui tiny statistic">
                    <div class="value">
                        <i class="phone icon"></i> {{ stats["total"] }}
                    </div>
                    <div class="label">
                        total phones
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui basic center aligned segment">
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ stats["processed"] }}
                    </div>
                    <div class="label">
                        reviewed
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui basic center aligned segment">
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ stats["not_processed"] }}
                    </div>
                    <div class="label">
                        not reviewed
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui basic center aligned segment">
                <a href="{{ url_for('migrations.review') }}" class="ui primary button">Review phones</a>
            </div>
        </div>
        <div class="column">
            <div class="ui basic center aligned segment">
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ stats["completed"] }}
                    </div>
                    <div class="label">
                        completed
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui basic center aligned segment">
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ stats["not_completed"] }}
                    </div>
                    <div class="label">
                        not completed
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if roles %}
        <div class="ui segment">
            <h2>Your Roles</h2>

            <table class="ui striped table">
                <thead>
                <th></th>
                <th>Role</th>
                {% if OFFICE_MODE %}
                    <th>Department</th>
                {% else %}
                    <th>Location</th>
                {% endif %}
                <th>Delegated/ Delegated by</th>
                <th></th>
                </thead>
                <tbody>
                {% if OFFICE_MODE %}
                    {% for role in roles %}
                        <tr>
                            <td>
                                {% if role.delegate and current_user.username == role.delegate.name
                                    or role.delegate.name in egroups %}
                                    <div class="ui basic label">Delegated</div>
                                {% endif %}
                            </td>
                            <td>
                                {{ role.role.value }}
                            </td>
                            <td>
                                {{ role.department }}
                            </td>
                            <td>{% if role.delegate %}Yes ({{ role.delegate.type.value }}: {{ role.delegate.name }}
                                ){% else %}No{% endif %}</td>
                            <td class="right aligned">
                                {{ role.delegate.username }}
                                {% if current_user.username in role.get_responsibles_usernames() %}
                                    <a href="{{ url_for('roles_bp.delegate', role_id=role.id) }}"
                                       class="ui tiny button">Delegate</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for role in roles %}
                        <tr>
                            <td>
                                {% if role.delegate and current_user.username == role.delegate.name
                                    or role.delegate.name in egroups %}
                                    <div class="ui basic label">Delegated</div>
                                {% endif %}
                            </td>
                            <td>
                                {{ role.role.value }}
                            </td>
                            <td>
                                {% set location_url = url_for("migrations.review_building", building_name=role.building) %}
                                <a href="{{ location_url }}">
                                    {% if role.building %}
                                        {{ role.building }}
                                    {% endif %}
                                    {% if role.floor %}
                                        - {{ role.floor }}
                                    {% endif %}
                                    {% if role.room %}
                                        - {{ role.room }}
                                    {% endif %}
                                </a>
                                <br/>
                                {% if role.building and not role.floor %}
                                    <small>Building</small>
                                {% endif %}
                                {% if role.floor and not role.room %}
                                    <small>Floor</small>
                                {% endif %}
                                {% if role.room %}
                                    <small>Room</small>
                                {% endif %}
                            </td>
                            <td>{% if role.delegate %}Yes ({{ role.delegate.type.value }}: {{ role.delegate.name }}
                                ){% else %}No{% endif %}</td>
                            <td class="right aligned">
                                {{ role.delegate.username }}
                                {% if current_user.username in role.get_responsibles_usernames() %}
                                    <a href="{{ url_for('roles_bp.delegate', role_id=role.id) }}"
                                       class="ui tiny button">Delegate</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


{% block sidebar %}
    {% if OFFICE_MODE %}
        {{ render_index_office_sidebar() }}
    {% else %}
        {{ render_index_outside_sidebar() }}
    {% endif %}
{% endblock %}

{% block  bottom_sidebar %}
    {% if current_user.is_admin %}
        <h3 class="ui header"><i class="user icon"></i> Log in as user</h3>
        {% if session["impersonate"] %}
            <p>Logged in as user: {{ current_user.username }}</p>
        {% else %}
            <form class="ui form" method="post" action="{{ url_for('migrations.index') }}">
                <div class="field">
                    <label><strong>Select user:</strong></label>
                    <div class="ui search">
                        <div class="ui icon input">
                            <input name="prompt" class="prompt" placeholder="Enter a full name"/>
                            <i id="username-valid-icon" class="green checkmark icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                {% for field in impersonate_form %}
                    {{ field }}
                {% endfor %}
                <div class="field">
                    <button id="impersonate-button" type="submit" class="ui button">Login</button>
                </div>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}

{% block extra_javascripts %}
    {% assets "index_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
