{% extends "base-content-no-sidebar.html" %}
{% from "constants.html" import render_outside_toolbar_title,
render_office_toolbar_title,
 render_outside_title,
 render_office_title,
  render_review_office_title,
   render_review_outside_title %}

{% block title %}
    {% if OFFICE_MODE %}
        Review - {{ render_office_toolbar_title() }}
    {% else %}
        Review - {{ render_outside_toolbar_title() }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="ui header">
        <div class="content">
            {% if OFFICE_MODE %}
                {{ render_review_office_title() }}
            {% else %}
                {{ render_review_outside_title() }}
            {% endif %}
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <p><strong>There is no phone number to review in this location.</strong></p>

                    <p>If you think this could be a mistake, please <a href="mailto:phone-migration-support@cern.ch">contact
                        us</a>.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    {% assets "buildings_js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
