{% extends "base-content-no-sidebar.html" %}
{% from "constants.html" import render_outside_toolbar_title,
render_office_toolbar_title,
 render_outside_title,
 render_office_title,
  render_review_office_title,
   render_review_outside_title %}

{% block title %}
    {% if OFFICE_MODE %}
        Review - {{ render_office_toolbar_title() }}
    {% else %}
        Review - {{ render_outside_toolbar_title() }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="ui header">
        <div class="content">
            {% if OFFICE_MODE %}
                {{ render_review_office_title() }}
            {% else %}
                {{ render_review_outside_title() }}
            {% endif %}
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid pointing menu buildings-menu">
                {% for name, value in buildings.items() %}
                    <a href="{{ url_for("migrations.review_building", building_name=name|urlencode) }}"
                       class="item {% if selected_building and selected_building|string == name|string %}active{% endif %}">
                        {{ name }}
                        <div class="ui {% if value.total == value.processed %} green {% endif %} label">
                            {{ value.processed }}/{{ value.total }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui horizontal segments floors-rooms">
                <div class="ui segment floors-segment">
                    <div id="floors-container">
                        {% block floors_content %}
                            <div class="ui center aligned basic segment">Please, select a building.</div>
                        {% endblock %}
                    </div>
                </div>
                <div class="ui segment room-segment">
                    <div id="room-container">
                        {% block room_content %}
                            <div class="ui center aligned basic segment">Please, select a room.</div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    {% assets "buildings_js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
