{% extends "base-content-sidebar.html" %}
{% from "constants.html" import render_outside_toolbar_title, render_office_toolbar_title, render_office_delegate_title, render_outside_delegate_title, render_delegate_office_sidebar, render_delegate_outside_sidebar %}

{% block title %}
    {% if OFFICE_MODE %}
        Delegate - {{ render_office_toolbar_title() }}
    {% else %}
        Delegate - {{ render_outside_toolbar_title() }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="ui header">
        <div class="content">
            {% if OFFICE_MODE %}
                {{ render_office_delegate_title() }}
            {% else %}
                {{ render_outside_delegate_title() }}
            {% endif %}
        </div>
    </h1>
{% endblock %}

{% block content %}

    <div class="ui segment">
        <h2>Set delegate</h2>
        <form class="ui form" action="{{ url_for('roles_bp.delegate', role_id=role.id) }}"
              method="post">
            <div class="ui stackable two column grid">
                <div class="column">
                    <p><i class="user icon"></i> <strong>Role:</strong> {{ role.role.value }}</p>
                    <p><i class="marker icon"></i>
                        {% if OFFICE_MODE %}
                            <strong>Department:</strong> {{ role.department }}
                        {% else %}
                            <strong>Location:</strong>
                            {% if role.building and not role.floor %}
                                Building {{ role.building }}
                            {% elif role.floor and not role.room %}
                                Floor {{ role.floor }}
                            {% else %}
                                Room {{ role.room }}
                            {% endif %}
                        {% endif %}

                    </p>

                    <div class="field">
                        <label><strong>Select user/egroup:</strong></label>
                        <div class="ui search">
                            <div class="ui icon input">
                                <input name="prompt" class="prompt" placeholder="Enter a full name or egroup"/>
                                <i id="username-valid-icon" class="green checkmark icon"></i>
                            </div>
                            <small class="helper">E.g: Leslie Knope, egroup-pawnee</small>

                            <div class="results"></div>
                        </div>
                    </div>
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                </div>
                <div class="column">

                </div>
                <div class="column">
                    <button id="set-button" type="submit" class="ui primary button">Set Delegate</button>
                </div>
                <div class="column">
                    <a class="ui labeled icon button right floated" href="{{ url_for('migrations.index') }}">
                        <i class="arrow left icon"></i>
                        Back
                    </a>
                </div>
            </div>
        </form>

    </div>
{% endblock %}


{% block sidebar %}
    {% if OFFICE_MODE %}
        {{ render_delegate_office_sidebar() }}
    {% else %}
        {{ render_delegate_outside_sidebar() }}
    {% endif %}
{% endblock %}


{% block extra_javascripts %}
    {% assets "delegate_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
