body {
  background: #f9f9f9; }

  #dev-toolbar {
    background-color: #faf694;
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    padding-top: 5px;
    width: 100%;
    top: 95px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 999; }

    #top-menu {
      margin-top: 40px; }

      .center, .vertical-middle {
        vertical-align: middle; }

        .main-content {
          margin-top: 140px !important; }

          .main-content-admin {
            margin-top: 140px !important; }

            #logo {
              font-weight: bold; }

              .segment.wizard-buttons {
                padding: 0; }

                .divider-column {
                  position: relative;
                  padding: 0 !important; }

                  .ui.grid > .column + .divider, .ui.grid > .row > .column + .divider {
                    left: 50%; }

                    .help_device {
                      margin-bottom: 20px; }

                      .ui.horizontal.segments > .segment.floors-segment {
                        width: 40%;
                        flex: none; }

                        .ui.horizontal.segments > .segment.room-segment {
                          width: 60%;
                          flex: none; }

                          .building-percent {
                            float: right;
                            display: inline-block; }

                            .ui.label.completed > .icon {
                              margin: 0; }

                              .ui.horizontal.segments.floors-rooms {
                                margin: 0; }

                                .model-list {
                                  z-index: 0; }

#cern-toolbar {
  background-color: #222;
  background-color: #1e1e1e;
  font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 1;
  padding: 0 5%;
  overflow: hidden;
  -moz-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; }

  #cern-toolbar a {
    color: #ccc;
    text-decoration: none;
    padding: 6px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block; }

    #cern-toolbar a:hover {
      background-color: #000;
      color: #fff; }

      #cern-toolbar .active a {
        background-color: #f6f6f6;
        color: #000;
        padding-bottom: 20px; }

        #cern-toolbar .active .cern-account {
          background-color: #fff; }

          #cern-toolbar h1 {
            float: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            position: relative;
            left: -8px;
            padding: 6px 0;
            letter-spacing: 0.08em;
            margin: 0; }

            #cern-toolbar h1 a {
              color: #fff; }

              #cern-toolbar h1 span {
                color: #999;
                letter-spacing: normal;
                padding: 0; }

                #cern-toolbar h1 a:hover span {
                  color: #fff; }

                  #cern-toolbar ul {
                    float: right;
                    list-style: none;
                    position: relative;
                    right: -8px;
                    margin: 0; }

                    #cern-toolbar li {
                      float: left;
                      display: block;
                      margin-left: 1em;
                      padding: 6px 0; }

                      #cern-toolbar .cern-multifactor {
                        padding-left: 32px;
                        background: url("../img/toolbarsprite.png") no-repeat 0 -120px; }

                        #cern-toolbar .cern-signout {
                          margin-left: 1em; }

                          #cern-toolbar a, #cern-toolbar a span {
                            -moz-transition: background-color 0.1s ease-out;
                            -webkit-transition: background-color 0.1s ease-out;
                            -o-transition: background-color 0.1s ease-out;
                            transition: background-color 0.1s ease-out; }

                            @media only screen and (max-width: 750px) {
                              #cern-toolbar h1 span {
                                display: none;   }
                                #cern-toolbar ul {
                                  border-right: 1px solid #000;
                                  -moz-box-shadow: 1px 0 0 #444;
                                  -webkit-box-shadow: 1px 0 0 #444;
                                  box-shadow: 1px 0 0 #444;   }
                                  #cern-toolbar li {
                                    padding: 0;
                                    margin: 0;
                                    border-left: 1px solid #000;   }
                                    #cern-toolbar li a {
                                      background: url("../img/toolbarsprite.png") no-repeat;
                                      height: 40px;
                                      width: 40px;
                                      -moz-border-radius: 0;
                                      -webkit-border-radius: 0;
                                      border-radius: 0;
                                      text-indent: -5000px;
                                      overflow: hidden;
                                      border-left: 1px solid #444;   }
                                      #cern-toolbar .cern-account {
                                        background-position: 9px 0;   }
                                        #cern-toolbar .cern-directory {
                                          background-position: 9px -40px;   }
                                          #cern-toolbar .cern-signout {
                                            background-position: 9px -80px;
                                            margin-left: 0;   }
                                            #cern-toolbar .active .cern-account {
                                              background-position: -31px 0;   }
                                              #cern-toolbar .active .cern-directory {
                                                background-position: -31px -40px;   }
                                                #cern-toolbar .cern-accountlinks span {
                                                  display: none;   }
                                                  #cern-toolbar .cern-multifactor {
                                                    background-image: none;
                                                    padding: 0;   }
}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"], [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile), [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile), [class*="or lower hidden"] {
    display: none !important;   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet), [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet), [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;   }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer), [class*="tablet only"]:not(.computer),
  [class*="computer hidden"], [class*="large monitor only"]:not(.computer),
  [class*="widescreen monitor only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;   }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large monitor"]),
  [class*="tablet only"]:not([class*="large monitor"]),
  [class*="computer only"]:not([class*="large monitor"]),
  [class*="large monitor hidden"],
  [class*="widescreen monitor only"]:not([class*="large monitor"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;   }
}

@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen monitor"]),
  [class*="tablet only"]:not([class*="widescreen monitor"]),
  [class*="computer only"]:not([class*="widescreen monitor"]),
  [class*="large monitor only"]:not([class*="widescreen monitor"]),
  [class*="widescreen monitor hidden"], [class*="widescreen monitor or lower hidden"] {
    display: none !important;   }
    .main-content {
      padding-left: 300px;   }
}
