{% extends 'admin-layout.html' %}

{% block body %}
    <div class="ui three column stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui large statistic">
                        <div class="value">
                            <i class="clock icon"></i> {{ days }}
                        </div>
                        <div class="label">
                            days until deadline
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui large statistic">
                        <div class="value">
                            {{ stats["percent_completed"] }} %
                        </div>
                        <div class="label">
                            completed
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui large statistic">
                        <div class="value">
                            {{ stats["not_completed"] }}
                        </div>
                        <div class="label">
                            not completed
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="phone icon"></i> {{ stats["total"] }}
                        </div>
                        <div class="label">
                            total phones
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui statistic">
                        <div class="value">
                            {{ stats["processed"] }}
                        </div>
                        <div class="label">
                            reviewed
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned segment">
                    <div class="ui statistic">
                        <div class="value">
                            {{ stats["not_processed"] }}
                        </div>
                        <div class="label">
                            not reviewed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}