body {
  background: #f9f9f9;
}

#dev-toolbar {
  background-color: #faf694;
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
  padding-top: 5px;
  width: 100%;
  top: 95px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 999;
}

#top-menu {
  margin-top: 40px;
}

.center, .vertical-middle {
  vertical-align: middle;
}

.main-content {
  //margin-top: 40px
  margin-top: 140px !important;
}

.main-content-admin {
  margin-top: 140px !important;
}

#logo {
  font-weight: bold;
}

.segment.wizard-buttons {
  padding: 0;
}

.divider-column {
  position: relative;
  padding: 0 !important;
}

.ui.grid > .column + .divider, .ui.grid > .row > .column + .divider {
  left: 50%;
}

.help_device {
  margin-bottom: 20px;
}
//
//.building-header:before {
//  content: "";
//  display: block;
//  height: 150px; /* fixed header height*/
//  margin: -150px 0 0; /* negative fixed header height */
//}

.ui.horizontal.segments > .segment.floors-segment {
  width: 40%;
  flex: none;
  //background: #fff;
  //border: 1px solid rgba(34,36,38,.15);
}

//.ui.horizontal.segments {
//  background: transparent;
//  border: none;
//  box-shadow: none;
//}

.ui.horizontal.segments > .segment.room-segment {
  width: 60%;
  flex: none;
  //border: none;
}

.building-percent {
  float: right;
  display: inline-block;
}

.ui.label.completed>.icon{
  margin: 0
}

.ui.horizontal.segments.floors-rooms{
  margin: 0
}

.model-list {
    z-index: 0;
}