<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", [
        "*.phone-cleaning.web.cern.ch",
        "*.ooo-interface.web.cern.ch",
        "*.phone-review.web.cern.ch"
    ]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//piwik.web.cern.ch/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', {{ ANALYTICS_PIWIK_ID }}]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//piwik.web.cern.ch/piwik.php?idsite={{ ANALYTICS_PIWIK_ID }}" style="border:0;" alt=""/></p>
</noscript>
<!-- End Piwik Code -->