{% macro render_radio_field(field) -%}
    {% for value, label, checked in field.iter_choices() %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" {% if checked %}checked=”true”{% endif %} name="{{ field.id }}" id="{{ field.id }}"
                       value="{{ value }}">
                <label>{{ label }}</label>
            </div>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_select_field(field, label=False) -%}
    <label>{{ field.label }}: {{ label }}</label>
    <div class="ui selection dropdown">
        <input type="hidden" name="{{ field.name }}">
        <i class="dropdown icon"></i>
        <div class="default text">Don't extend</div>
        <div class="menu">
            {% for value, label, checked in field.iter_choices() %}
                <div class="item" data-value="{{ value }}">{{ label }}</div>
            {% endfor %}
        </div>
    </div>

{%- endmacro %}

{% macro render_submit_field(field, additionalClass="") -%}
    <button id="{{ field.id }}" name="{{ field.name }}" class="ui blue labeled icon button right floated {{ additionalClass }}"
            type="submit" value="{{ field.label.text }}">
        <i class="arrow right icon"></i>
        {{ field.label.text }}
    </button>
{%- endmacro %}


{% macro wtform_errors_field(field, errors, bg=True) -%}
    {#
    Specify an error field list for a given field and its errors.
    Usage:
    {{ wtform_errors_field(<Field>, <FieldErrors>) }}
    Disable or enable coloring with `bg`:
    {{ wtform_errors_field(<Field>, <FieldErrors>, bg=False) }}
#}
    sdfsdfsdf
    {% if bg %}
        <div class="alert alert-danger">{% endif %}
<p class="{{ 'text-danger' if not bg else '' }}"><strong>Error(s) for '{{ field }}': </strong></p>
<ul class="{{ 'text-danger' if not bg else '' }}">
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% if bg %}</div>{% endif %}
{%- endmacro %}


{% macro wtform_errors(formobj) -%}
    {#
    Show a list of form errors based on a given wtform instance.
    Usage:
    {{ wtform_errors(<FormObj>) }}
#}
    {% if formobj.errors %}
        {% for field, errors in formobj.errors.items() %}
            {{ wtform_errors_field(field, errors) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}