{% from "constants.html" import render_office_toolbar_title,
 render_outside_toolbar_title,
render_office_toolbar_button,
 render_outside_toolbar_button %}


<div id="top-menu" class="ui inverted blue top fixed menu">
    <div class="item">
        <a id="logo" href="{{ url_for('migrations.index') }}" title="Home"><img class="vertical-middle"
                                                                                        src="{{ url_for('static', filename='images/outline_80_white.png') }}"
                                                                                        height="30"/>
            {% if OFFICE_MODE %}
                {{ render_office_toolbar_title() }}
            {% else %}
                {{ render_outside_toolbar_title() }}
            {% endif %}
        </a>
    </div>
    <a class="item {{ 'active' if wizard else '' }}" href="{{ url_for("migrations.index") }}">
        {% if OFFICE_MODE %}
            {{ render_office_toolbar_button() }}
        {% else %}
            {{ render_outside_toolbar_button() }}
        {% endif %}
    </a>
    <div class="right menu">
        <a href="#" id="help-button" class="item help-button"><i class="help icon"></i> Help</a>
        {% if current_user.is_authenticated and current_user.is_admin %}
            <a class="item {{ 'active' if admin else '' }}" href="{{ url_for("admin.index") }}"
               title="Administration"><i class="dashboard icon"></i> Administration</a>
        {% endif %}
    </div>
</div>
{% include 'help-modal.html' %}
