{% extends "base_no_sidebar.html" %}

{% set sign_in = True %}

{% block content %}

    <div class="ui center aligned segment">
        <h1 class="ui center aligned icon header">
            <span class="content">
                Sign in
            </span>
        </h1>

        <p>Sign in using your CERN account.</p>
        <a class="ui blue button" href="{{ url_for('cern.login') }}"><i class="sign in icon"></i> Sign in</a>
    </div>
    {% if IS_LOCAL %}
        <div class="ui center aligned segment">
            <h1 class="ui center aligned icon header">
                <span class="content">
                    Local Development
                </span>
            </h1>

            <p>Sign in using the development tools.</p>
            <a class="ui blue button" href="{{ url_for('local_dev.login_admin') }}"><i class="sign in icon"></i>
                Sign in as admin</a>
            <a class="ui blue button" href="{{ url_for('local_dev.login_normal_user') }}"><i
                    class="sign in icon"></i> Sign in as normal user</a>
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}

{% endblock %}