{% extends 'admin/base.html' %}
{% import 'admin/layout.html' as layout with context -%}

{% set admin = True %}

{% block head_tail %}
    {{ super() }}
    <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">

    {% assets "libs_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets "frontend_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

{% endblock %}


{% block page_body %}

    {% from "macros/toolbars.html" import render_cern_toolbar, render_dev_toolbar %}
    {{ render_dev_toolbar(current_user, IS_LOCAL, DEBUG) }}
    {{ render_cern_toolbar(current_user, IS_LOCAL) }}

    {% include "macros/top-nav.html" %}
    <div class="main-content-admin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" role="navigation">
                    <ul class="nav nav-pills nav-stacked">
                        {{ layout.menu() }}
                        {{ layout.menu_links() }}
                    </ul>
                </div>
                <div class="col-md-10">
                    <div id="content" class="row">
                        {% block brand %}
                            <h2 id="brand">Admin - {{ admin_view.name|capitalize }}</h2>
                        {% endblock %}
                        {{ layout.messages() }}

                        {% set render_ctx = h.resolve_ctx() %}

                        <div class="ui container">
                            {% block body %}{% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}