<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

    {% assets "libs_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets "frontend_css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    {% block script %}
    {% endblock %}

</head>
<body>

{#<div class="pusher">#}
{% from "macros/toolbars.html" import render_cern_toolbar, render_dev_toolbar, render_top_menu %}
{{ render_dev_toolbar(current_user, IS_LOCAL, DEBUG) }}
{{ render_cern_toolbar(current_user, IS_LOCAL) }}

{% include "macros/top-nav.html" %}

{% block main_content %}{% endblock %}

{% assets "libs_js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "frontend_js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block extra_javascripts %}
{% endblock %}

{% include "macros/analytics.html" %}

</body>


</html>


