{% extends "base.html" %}

{% block main_content %}
    <div class="main-content">
        <div class="ui stackable grid container">
            <div class="sixteen wide column">
                {% if session["impersonate"] %}
                    <div class="ui info small icon message">
                        <i class="exclamation icon"></i>
                        <div class="content">
                            <div class="header">
                                Logged in as
                            </div>
                            <p>User: <strong>{{ session["impersonate"]["displayName"] }}
                                ({{ session["impersonate"]["description"] }})</strong></p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="ui stackable grid container">
            <div class="sixteen wide column">
                {% block header %}{% endblock %}
            </div>
            <div class="twelve wide column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="ui {{ category }} message">
                                <i class="close icon"></i>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="four wide column">
                {% block sidebar %}{% endblock %}
                <button id="help-button" class="ui button help-button">More Help</button>
                <hr>
                {% block  bottom_sidebar %}{% endblock %}
                {% block clear_form %}{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}

